# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
fake_job_env/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Model files (too large for GitHub)
*.npy

# Data files
data/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Output files
output/*.png
output/*.pkl